
.button{
    height: 70px;
    width: 100px;
    font-size: 25px;
    cursor: pointer;
    margin: 0px;
    border: none; 
}
.textveiw{
    margin: 5px;
    width: 400px;
    font-size: 25px;

}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    border: solid black;
    background-color: black;

}
.number{
    background: blue;
}
.symbol{
    background: grey;
}
.number:hover{
    background-color: blue;
            
}
.symbol:hover{
    background-color: grey;
}